@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #fcfcfc;
}

.bg-holder {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 700px;
}

@media only screen and (max-width: 768px) {
 .bg-holder {
    height: 150vh;
    width: 100vw;
    position: absolute;
    top: 250px;
    left: 0px;
}

}

